{% extends "base.html" %} {% block content %} {% load static %}

<section class="register">

  <div class="flex">

    <!-- <div class="flex-img">
      <img src="{% static 'img/symbol-unamahub.png' %}" alt="Unama Logo" class="logo-img">
    </div> --> <!-- flex-img -->

    <div class="flex-text">

      <div class="register-text">
        <h1>Registrar-se</h1>
        <p>Preencha os espaços com seus dados para se registrar</p>
      </div> <!-- register-text -->

      <div class="register-form">
        <form method="post">
          {% csrf_token %} {% for field in form %}
          <div class="form-group">
            <label>{{ field.label }}</label>
            {{ field }}
          </div> <!-- form-group -->
          {% endfor %}
          <button type="submit" class="form-btn register-btn">Registrar</button>
        </form>
      </div> <!-- register-form -->

    </div> <!-- flex -->

</section>

{% endblock content %}