{% extends "base.html" %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
</head>
<body>
<div class="flex">
    <h1>Registrar-se</h1>
    
    <div class="register-form">
        <form method="post">
            {% csrf_token %}
        
            {% for field in form %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
        
            <button type="submit" class="btn btn-primary form-btn">Registrar</button>
        </form>
    </div>
</div>

</body>
{% endblock content %}