:root {
    /* Paleta */
    --cor01: #000000;
    --cor02: #222222;
    --cor03: #1DCD9F;
    --cor04: #169976;

    /* Fonte: */
    --font: "PT Sans", sans serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--cor01);
    font-family: var(--font);
}

/* CONTAINER FLEX */

.flex-firstline {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.flex-text {
    color: var(--cor03);
    text-transform: uppercase;
}

.flex-text h1 {
    text-align: center;
    font-weight: bold;
    font-size: 100px;
    letter-spacing: .8rem;
}

.flex-text p {
    text-align: justify;
    font-weight: 700;
    font-size: 20px;
}

.flex-img img {
    width: 500px;
    height: 500px;
}