{% extends "base.html" %}

{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnamaHub</title>
    <!-- CSS - LINK -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
        <div class="flex">

            <div class="flex-firstline">
                <div class="flex-text">
                    <h1>unama<span>hub</span></h1>
                    <p>Conectabilidade entre professores e alunos de forma prática!</p>
                </div> <!-- flex-text -->
                <div class="flex-img">
                    <img src="{% static 'img/unamahub-logo.png' %}" alt="Unama Logo">
                </div> <!-- flex-img -->
            </div> <!-- flex-firstline -->

            <div class="btn">
                <a href=".conheca"><button>Conheça!</button></a>
            </div> <!-- btn-flex -->

        </div> <!-- flex -->

        <section class="conheca">

            <div class="flex">

                <div class="flex-text">
                    <h1>Conheça o <span>projeto.</span></h1>
                </div>

            </div> <!-- flex -->

        </section> <!-- conheça -->

</body>
</html>

{% endblock content %}
